@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Prata&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

a.active hr{
    display: block
}

*{
    font-family: "TikTok Sans", sans-serif;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  
@media (max-width:640px){
    a.active{
        background-color: black;
        color:white
    }
}

.white-btn {
    @apply border px-4 py-2 text-black 
           transition-colors duration-200
           hover:bg-black hover:text-white cursor-pointer 
           active:bg-gray-700;
  }